.blogpage h1, .blogpage h2, .blogpage h3 {
  font-size: revert;
  line-height: revert;
  @apply font-display font-semibold text-gray-600;
}

.blogpage h1 {
  @apply text-3xl;
  margin-bottom: 10px;
}

.blogpage h2 {
  @apply text-2xl;
  margin-bottom: 10px;
}

.blogpage h3 {
  @apply text-xl;
  margin-bottom: 10px;
}

.blogpage pre {
  @apply bg-blue-50 p-4 rounded-md text-blue-500;
  margin-bottom: 30px;
  overflow: scroll;
}

.blogpage code {
  @apply bg-blue-50 rounded-md text-blue-500;
}

.blogpage p {
  margin-bottom: 30px;
}

.blogpage p:last-child {
  margin-bottom: 0px;
}

.blogpage br { 
    display: block;
  margin-bottom: 2px;
  font-size:2px;
  line-height: 2px;
}

.blogcontent a {
  @apply text-blue-500;
}

.blogcontent {
  @apply text-gray-500;
}