html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.list-transition-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.list-transition-enter-active {
  transition: all .5s;
  transform: translateX(0%);
  opacity: 1;
}

.list-transition-enter-done{
  transform: translateX(0%);
  opacity: 1;
}

.list-transition-exit {
  transform: translateX(0%);
  opacity: 1;
}

.list-transition-exit-active {
  transition: all .5s;
  transform: translateX(100%);
  opacity: 0;
}

.list-transition-exit-done {
  transform: translateX(100%);
  opacity: 0;
}