html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#gradient-layer-1 {
  background: linear-gradient(
    -45deg,
    #13161a,
    #13141a,
    #15131a,
    #1d2329,
    #374757
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
